/*** GENERAL ***/

* {
    margin: 0;
    padding: 0;
    background-color: var(--back);
    font-family: "inter";
}


:root {
    --softgrey: #F5F3EF;
    --textgrey: #A6A6A6;
    --darkgrey: #292929;
    --green: #00AC66;
    --darkgreen: #006D41;
    --red: #C56D6D;
    --back: #FAF9F7;
    --update: #EDF2F6;
    --updateborder: #F0F0F0;
    --available: #6DC541;
}

.body {
    background-color: var(--back);
}

.link {
    text-decoration: none;
    color: var(--darkgrey);
    background-color: transparent;
}

.cardLink {
    text-decoration: none;
}

.title {
    font-family: "Playfair Display";
}

.button {
    background-color: var(--green);
    padding: 22px 38px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid var(--green);
}


/*** HEADER ***/

.header {
    border: 1px red solid;
    background-color: var(--softgrey);
    height: 80px;
}

.headerNav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    position: relative;
    align-items: center;
    margin-top: 15px;
    background-color: var(--softgrey)
}

.headerPublic {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    border: #00AC66 1px solid;
    padding: 0 100px;
    background-color: var(--softgrey)
}

.headerPrivate {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    padding: 0 100px;
    background-color: var(--softgrey);
    border: 1px solid #C56D6D;
}

.header a {
    background-color: transparent;
    font-size: 14px;
}

.line {
    color: var(--textgrey);
}

.logo {
    width: 155px;
    height: 51px;
    background-color: var(--softgrey);
}

.nolink {
    font-weight: bold;
    text-decoration: none;
    pointer-events: none;
    background-color: transparent;
}

/*** MAIN ***/
.main {
    border: 1px blue solid;
    margin-bottom: 63px;
    width: 100%;
    min-height: 80vh;
    margin-left: auto;
    background-color: var(--softgrey);
}

/*** FOOTER ***/
.footer {
    border: 1px green solid;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 61px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: white;
}

.footerSpan {
    padding: 0 20px 0 20px;
    background-color: white;
    color: var(--darkgrey);
    font-size: 12px;
    font-weight: 300;
}

/*** ACCUEIL ***/

.homeButton {
    margin-top: 50px;
    background-color: transparent;
}

.presentation {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 80px 30px 80px 30px;
    background-color: var(--softgrey);
}

.textPresentation {
    width: 330px;
    height: 95px;
    background-color: var(--softgrey);
    padding: 150px 25px 0;
}

.presentationTitle {
    font-family: "Playfair Display";
    font-size: 36px;
    background-color: var(--softgrey);
    width: 329px;
}

.presentationContent {
    font-size: 16px;
    width: 328px;
    margin-top: 20px;
    background-color: var(--softgrey);
}

.picturePresentation {
    width: 404px;
    height: 539px;
    object-fit: cover;
}

.pictureAuthor {
    font-style: italic;
    font-size: 12px;
    color: var(--textgrey);
    text-align: end;
    background-color: var(--softgrey);
    padding-top: 10px;
}

.lastBooks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 670px;
    background-color: var(--back);
}

.lastBooksTitle {
    font-size: 32px;
    font-family: "Playfair Display";
    font-weight: 400;
    margin-bottom: 50px;
}

.lastBooksCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.operation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 450px;
    background-color: var(--softgrey);
    margin-top: 50px;
}

.operationTitle {
    font-size: 32px;
    font-family: "Playfair Display";
    background-color: var(--softgrey);
    font-weight: 400;
}

.operationStickers {
    display: flex;
    flex-basis: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--softgrey);
}

.operation span {
    font-weight: 300;
    background-color: var(--softgrey);
    width: 400px;
    padding: 30px 0;
}

.sticker {
    display: flex;
    width: 215px;
    height: 139px;
    text-align: center;
    align-items: center;
    background-color: white;
    margin: 20px;
    border-radius: 15px;
}

.stickerText {
    margin: 15px;
    font-size: 14px;
    font-weight: 400;
    background-color: white;
}

.values {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1350px;
    background-color: var(--softgrey);
}

.lightButton {
    background-color: var(--softgrey);
    color: var(--green);
    border: 1px solid var(--green);
}

.lightButton:hover,
.button:hover {
    background-color: var(--darkgreen);
    color: white;
    border: 1px solid var(--darkgreen);
}

.pictureValues {
    width: 100%;
    height: 230px;
    margin-top: 50px;
}

.textValues {
    width: 400px;
    height: 350px;
    background-color: var(--softgrey);
}

.titleValues {
    background-color: var(--softgrey);
    font-size: 32px;
    font-family: "Playfair Display";
    font-weight: 400;
    margin: 70px 0 30px 0;
}

.tomValues {
    background-color: var(--softgrey);
    font-size: 16px;
    font-weight: 300;
    width: 392px;
}

.sign {
    background-color: var(--softgrey);
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    border: #00AC66 1px solid;
}

.sign span {
    background-color: var(--softgrey);
    color: var(--textgrey);
    font-size: 12px;
    font-weight: 400;
    font-style: italic;
}

.signVector {
    background-color: transparent;
}

.signVector img {
    background-color: transparent;
    margin-left: 400px;
    margin-top: 80px;
    width: 120px;
    height: 102px;
}

/*** IMAGES ***/

.smallCover {
    width: 78px;
    height: 78px;
    object-fit: cover;
}

.mediumCover {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.updateCover {
    width: 488px;
    height: 488px;
    object-fit: cover;
    margin-top: 15px;
}

.largeCover {
    width: 720px;
    height: 863px;
    object-fit: cover;
}

.avatar {
    border-radius: 50%;
    width: 135px;
    height: 135px;
    object-fit: cover;
}

.mediumAvatar {
    border-radius: 50%;
    height: 48px;
    width: 48px;
    object-fit: cover;
}

.smallAvatar {
    border-radius: 50%;
    height: 24px;
    width: 24px;
    object-fit: cover;
}

/*** FORMULAIRES ***/
.asterisk {
    color: red;
    font-weight: bold;
}

.updateLabelInput {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.profileUpdateForm {
    margin: auto;
    width: 322px;
    height: 300px;
}

.updateUserLabel,
.updateBookLabel {
    font-size: 14px;
    color: var(--textgrey);
    font-weight: 400;
}

.updateUserInput {
    background-color: var(--update);
    color: var(--darkgrey);
    height: 50px;
    border-radius: 6px;
    border: 1px solid var(--updateborder);
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 20px;
}

.placeholderPwd {
    color: black;
    font-weight: bold;
    font-size: 14px;
}

.buttonUserUpdate {
    margin: 0 0 30px 115px;
}

/*** PROFIL ***/

.profile {
    width: 1135px;
    margin: auto;
}

.publicProfile {
    width: 1135px;
    margin: 100px auto auto;
    display: flex;
    flex-direction: row;
    background-color: transparent;
}

.profileDetail {
    display: flex;
    width: 1135px;
    height: 508px;
    margin: auto;
    background-color: var(--softgrey);
    border: 1px solid blue;
}

.profileTitle {
    font-size: 26px;
    font-weight: 400;
    background-color: var(--softgrey);
    margin-left: 150px;
}

.profileDefinition {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    width: 547px;
    height: 508px;
    border-radius: 20px;
}

.publicProfileDetail {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    width: 341px;
    height: 580px;
    border-radius: 20px;
}

.profileAvatar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 254px;
    border-bottom: 1px solid var(--softgrey);
}

.profileBlockText {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 114px;
}

.profilePseudo {
    font-size: 24px;
    font-weight: 400;
}

.memberSince {
    font-size: 14px;
    font-weight: 400;
    color: var(--textgrey);
    margin-top: 10px;
}

.bibliotheque {
    font-size: 8px;
    font-weight: 600;
    margin-top: 20px;
}

.booksNumber {
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
}

.booksNumber img {
    height: 13px;
}

.profileData {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 555px;
    height: 508px;
    border-radius: 20px;
    margin-left: 33px;
}

.profileDataTitle {
    margin: 30px 0 0 115px;
    font-size: 16px;
    font-weight: 400;
}

.profileBooks {
    width: 1140px;
    margin: 33px auto 30px;
    border-radius: 20px;
}

.publicProfileBooks {
    display: flex;
    width: 771px;
    border-radius: 20px;
    padding-left: 33px;
    background-color: transparent;
}

.addNewBook {
    margin-left: 150px;
    margin-bottom: 30px;
}

/*** TABLEAUX ***/
.profileTable {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.publicProfileTable {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: transparent;
}

.profileThead {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    font-size: 8px;
    font-weight: 600;
    color: var(--darkgrey);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.booksTable {
    background-color: transparent;
}

.booksRow {
    display: flex;
    flex-direction: row;
    border: 1px solid var(--softgrey)
}

.tableContainer {
    height: 130px;
    display: flex;
    align-items: center;
    color: var(--darkgrey);
    font-size: 12px;
    font-weight: 400;
    background-color: transparent;
}

.tableTitlePicture {
    width: 150px;
    padding-left: 60px;
    text-align: left;
    background-color: transparent;
    border-top-left-radius: 20px;
}

.tablePicture {
    width: 150px;
    padding-left: 60px;
    text-align: left;
    background-color: transparent;
}

.tableTitle {
    width: 181px;
    padding-left: 10px;
    text-align: left;
    background-color: transparent;
}

.tableAuthor {
    width: 175px;
    padding-left: 10px;
    text-align: left;
    background-color: transparent;
}

.tableDescription {
    width: 213px;
    padding-left: 10px;
    text-align: left;
    background-color: transparent;
    overflow: hidden;
}

.tableComment {
    width: 180px;
    height: auto;
    font-style: italic;
    background-color: transparent;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 30px;
    padding-top: 35px;
}

.tableAvailability {
    width: 110px;
    text-align: left;
    padding-left: 30px;
    background-color: transparent;
}

.tableTitleActions {
    width: 200px;
    padding-left: 20px;
    text-align: left;
    background-color: transparent;
    border-top-right-radius: 20px;
}

.tableActions {
    width: 200px;
    padding-left: 20px;
    text-align: left;
    background-color: transparent;
}

.booksTable .booksRow:nth-child(even) {
    background-color: var(--update);
}

.booksTable .booksRow:last-child {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden
}

.available {
    background-color: var(--available);
    color: white;
    padding: 4px 13px 0 15px;
    border-radius: 15px;
    font-size: 9px;
    font-weight: 500;
    width: 50px;
    height: 15px;
}

.unavailable {
    background-color: var(--red);
    color: var(--softgrey);
    padding: 4px 13px 0 15px;
    border-radius: 15px;
    font-size: 9px;
    font-weight: 500;
    width: 50px;
    height: 15px;
}

.tableEdit {
    color: #292929;
    font-size: 12px;
    font-weight: 400;
    text-decoration: underline;
    background-color: transparent;
}

.tableDelete {
    color: red;
    font-size: 12px;
    font-weight: 400;
    text-decoration: underline;
    margin-left: 30px;
    background-color: transparent;
}

/*** CARTES LIVRE***/
.exchangeHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    background-color: var(--softgrey);
    max-width: 900px;
    margin: 30px auto auto;
}

.exchangeTitle {
    background-color: var(--softgrey);
    display: flex;
    justify-self: flex-start;
}

.exchangeBooks {
    display: flex;
    flex-direction: row;
    margin: auto;
    max-width: 1000px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    background-color: var(--softgrey)
}

.bookCard {
    width: 200px;
    /*width: 20%;*/
    height: 324px;
    background-color: white;
    /*border : 1px solid rebeccapurple;*/
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin: 0 15px 30px;
    box-shadow: 0 4px 24px 0 #00000003;
}

.bookInformation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100px;
    padding: 0 10px;
    background-color: white;
}

.exchangeBookTitle {
    background-color: white;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    color: var(--darkgrey);
}

.exchangeBookAuthor {
    background-color: white;
    color: var(--textgrey);
    font-size: 14px;
}

.exchangeBookSeller {
    background-color: white;
    color: var(--textgrey);
    font-size: 10px;
    font-style: italic;
}

.itemImage {
    position: relative;
    display: inline-block;
}

.badgeNonDispo {
    position: absolute;
    /*right: 10px;*/
    top: 16px;
    left: 116px;
    background-color: var(--red);
    color: var(--softgrey);
    padding: 4px 13px 0 15px;
    border-radius: 15px;
    font-size: 9px;
    font-weight: 500;
    width: 50px;
    height: 15px;
}

/*** RECHERCHE ***/

.exchangeSearch {
    position: relative;
    display: flex;
    left: 350px;
    background-color: transparent;
    width: 322px;
}

.inputSearch {
    display: flex;
    justify-self: flex-end;
    padding-left: 40px;
    border-radius: 10px;
    border: 1px solid var(--updateborder);
    height: 35px;
    width: 300px;
    color: var(--textgrey);
}

.loupe {
    height: 16px;
    width: auto;
    color: var(--textgrey);
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.loupe-button {
    border: none;
}

.return {
    margin-right: 270px;
    background-color: transparent;
    text-align: right;
    text-decoration: underline;
}

.returnLink {
    background-color: transparent;
    color: var(--darkgrey);
}

/*** PAGE LIVRE ***/

.filAriane {
    font-size: 10px;
    color: var(--textgrey);
    font-weight: 300;
    background-color: transparent;
    padding-top: 15px;
    padding-left: 140px;
}

.singleBook {
    display: flex;
    margin-top: 10px;
}

.detailCover {
    width: 720px;
    height: auto;
}

.bookDescription {
    width: 720px;
    padding-top: 60px;
    padding-left: 80px;
}

.detailTitle {
    font-family: "Playfair Display";
    font-size: 36px;
    font-weight: 400;
    color: #000000;
}

.detailAuthor {
    margin-top: 30px;
    font-size: 16px;
    font-weight: 400;
    color: var(--textgrey);
}

.detailLine {
    margin-top: 30px;
    width: 30px;
}

.detailDescription {
    margin-top: 30px;
    font-size: 8px;
    color: var(--darkgrey);
}

.detailComment {
    margin-top: 25px;
    width: 485px;
    height: 290px;
    font-size: 14px;
    overflow: auto;
}

.detailOwner {
    margin-top: 30px;
    font-size: 8px;
    font-weight: 600;
    color: var(--darkgrey)
}

.badgeUser {
    display: flex;
    flex-direction: row;
    width: 157px;
    height: 50px;
    background-color: white;
    padding: 6px 17px 6px 6px;
    border-radius: 50px;
    align-items: center;
    margin-top: 30px;
}

.badgeUser img,
.badgeUser a {
    background-color: white;
}

.badgeUser p {
    margin-left: 15px;
    background-color: white;
}

.detailButton {
    margin-top: 70px;
    width: 485px;
}

/*** MODIFICATION LIVRE ***/

.requiredField {
    width: 100%;
    font-size: 10px;
    color: var(--textgrey);
    text-align: right;
}

.return {
    margin-left: 150px;
    margin-top: 40px;
}

.returnLink {
    font-size: 14px;
    color: var(--textgrey);
    font-weight: 400;
    text-decoration: none;
}

.updateBookTitle,
.newBookTitle {
    margin: 30px 150px;
    background-color: transparent;
    font-size: 26px;
    font-weight: 400;
}

.updateBook,
.newBook {
    display: flex;
    width: 1135px;
    margin: 30px auto 50px;
    border-radius: 20px;
    background-color: transparent;
}

.updateBookForm,
.newBookForm {
    border-radius: 20px;
    width: 1135px;
}

.updateBookCard,
.newBookCard {
    display: flex;
    flex-direction: row;
    padding: 50px;
    border-radius: 20px;
}

.updateBookPicture,
.newBookPicture {
    width: 488px;
}

.updateCoverLink,
.newBookLink {
    margin-top: 20px;
    text-align: end;
}

.inputUpdate,
.inputNew {
    display: none;
}

.labelUpdate,
.labelNew {
    text-decoration: underline;
}

.descriptionUpdate,
.descriptionNew {
    width: 435px;
    margin: 8px auto auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formUpdateBook,
.formNewBook {
    display: flex;
    flex-direction: column;
    width: 435px;
    margin-bottom: 30px;
}

.updateBookLabel,
.newBookLabel {
    color: var(--textgrey);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
}

.updateInput,
.newInput {
    color: var(--darkgrey);
    font-size: 14px;
    font-weight: 400;
    height: 50px;
    width: 435px;
    border-radius: 6px;
    border: 1px solid var(--updateborder);
    background-color: var(--update);
    padding: 0 15px;
}

.updateBookTextarea,
.newBookTextarea {
    height: 356px;
    width: 435px;
    padding: 15px;
    border-radius: 6px;
    border: 1px solid var(--updateborder);
    background-color: var(--update);
}

.updateBookSelect,
.newBookSelect {
    width: 465px;
    background-color: var(--update);
}

.updateBookButton,
.newBookButton {
    display: flex;
    align-content: start;
    width: 435px;
}

.updateBookButton .button {
    width: 320px;
}

/*** MESSAGERIE ***/
.messaging {
    display: flex;
    flex-direction: row;
    background-color: var(--softgrey);
}

.thread {
    display: flex;
    flex-direction: column;
    background-color: var(--back);
    width: 308px;
    min-height: 80vh;
    margin-left: 150px;
}

.messagingTitle {
    font-size: 26px;
    font-weight: 400;
    margin-top: 50px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.threadBadge {
    width: 100%;
    height: 84px;
    padding: 20px 30px;
}

.active-conversation {
    background-color: white;
}

.threadBadge a {
    text-decoration: none;
}

.conversationBadge {
    display: flex;
    flex-direction: row;
    background-color: transparent;
}

.conversation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
    padding-left: 10px;
    background-color: transparent;
}

.conversationDetail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 160px;
    color: var(--darkgrey);
    background-color: transparent;
}

.conversationPseudo {
    font-size: 14px;
    font-weight: 400;
    align-self: end;
    background-color: transparent;
}

.conversationHour {
    font-size: 12px;
    font-weight: 400;
    background-color: transparent;
}

.conversationLastMessage {
    font-size: 12px;
    font-weight: 400;
    width: 160px;
    color: var(--textgrey);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: transparent;
}

.noConversation {
    padding: 30px 20px;
}

.messages {
    display: flex;
    flex-direction: column;
    background-color: var(--softgrey);
    width: 75%;
}

.messageDisplay {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 35px;
    background-color: transparent;
}

.messagesHeader {
    display: flex;
    align-items: center;
    background-color: transparent;
}

.messagePseudo {
    margin-left: 10px;
    background-color: transparent;
    color: var(--darkgrey);
}

.noMessage {
    display: flex;
    line-height: 50px;
    justify-content: space-between;
    margin: 100px auto auto;
    padding: 50px;
    font-size: 20px;
    height: 100px;
    background-color: transparent;
}

.messageOtherUser {
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: transparent;
}

.messageCurrentUser {
    display: flex;
    flex-direction: column;
    text-align: right;
    background-color: transparent;
}

.allMessages {
    background-color: transparent;
}

.messageHeader {
    display: flex;
    align-items: center;
    padding: 5px 0;
    background-color: transparent;
}

.messageDate {
    font-size: 12px;
    font-weight: 400;
    color: var(--textgrey);
    margin-left: 10px;
    background-color: transparent;
}

.messageContentOther {
    border-radius: 3px;
    padding: 10px 20px;
    width: 500px;
    font-size: 12px;
    color: var(--darkgrey);
    background-color: white;
}

.messageContentCurrent {
    margin-top: 10px;
    margin-left: 420px;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 12px;
    color: var(--darkgrey);
    background-color: var(--update);
}

.sendMessage {
    width: 100%;
    background-color: transparent;
    margin-top: 30px;
    height: 50px;
}

.messageInput {
    height: 50px;
    background-color: white;
    border: 1px solid var(--updateborder);
    border-radius: 6px;
    padding-left: 50px;
    color: var(--textgrey);
    font-size: 14px;
    width: 620px;
}

.sendMessageButton {
    background-color: var(--green);
    padding: 15px 40px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid var(--green);
    margin-left: 30px;
}

.messagingLink {
    position: relative;
    display: inline-block;
    background-color: transparent;
}

.badgeCount {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 19px;
    right: 405px;
    width: 10px;
    height: 15px;
    font-size: 8px;
    font-weight: 700;
    color: var(--softgrey);
    background-color: var(--darkgrey);
    border-radius: 7px;
}

/*** INSCRIPTION/CONNEXION ***/

.authentication {
    display: flex;
    flex-direction: row;
    background-color: var(--softgrey);
    text-align: left;
}

.authenticationText {
    display: flex;
    flex-direction: column;
    margin: 130px 220px 130px 130px;
    width: 50%;
    background-color: var(--softgrey);
    border: 1px solid green;
}

.authenticationTitle {
    background-color: var(--softgrey);
    font-size: 36px;
    font-weight: 400;
    font-family: "Playfair Display";
    padding-bottom: 50px;
}

.authenticationForm {
    display: flex;
    flex-direction: column;
    background-color: var(--softgrey);
}

.authenticationLabel {
    color: var(--textgrey);
    background-color: var(--softgrey);
    font-size: 14px;
    padding-bottom: 15px;
}

.authenticationInput {
    border-radius: 6px;
    border: 1px solid var(--updateborder);
    height: 50px;
    margin-bottom: 30px;
}

.authenticationQuestion {
    display: flex;
    padding-top: 30px;
    background-color: var(--softgrey);
    text-align: left;
    font-size: 14px;
}

.authenticationQuestion a {
    background-color: var(--softgrey);
    text-decoration-line: underline;
    color: black;
    padding-left: 5px;
}

.authenticationIllustration {
    width: 50%;
}

.authenticationPicture {
    width: 720px;
    height: auto;
    object-fit: cover;
}

.loginMessage {
    height: 50px;
    background-color: rgba(255, 166, 0, 0.363);
    font-weight: bold;
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 5px;
}

/*** ADMINISTRATION / ERREURS***/
.administationPage,
.errorPage {
    margin: auto;
    padding: 100px;
}

.adminTitle,
.errorTitle {
    font-size: 40px;
    font-weight: 400;
}

.adminProject,
.errorMessage {
    margin-top: 150px;
}

.denied {
    font-weight: 500;
    color: crimson;
    text-decoration: underline;
}

.errorButtons {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.errorButtons a {
    margin-left: 50px;
}